<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Catalogo</title>
    <link rel="stylesheet" href="stylecatalogo.css">
</head>
<body>
      <header>
        <h1>Catálogo</h1>
      </header>

      <section class="contenedor">

        <div class="co-items">
             <div class="items">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCjTsMbIZ83Rqjdj5unNXkRNxK6hQweEVQyg&s" alt="" class="">
                <span class="precio-item">$10.000</span>
             </div>
             <div class="items">
                <img src="https://img.freepik.com/fotos-premium/reloj-mano-diseno-conceptual_985323-11558.jpg" alt="" class="">
                <span class="precio-item">$15.000</span>
             </div>
             <div class="items">
                <img src="https://media.revistagq.com/photos/6081c176cf573adf5bfe7bbf/master/w_1600%2Cc_limit/omega%2520original.jpg" alt="" class="">
                <span class="precio-item">$25.000</span>
               </div>
              
              <div class="items">
                <img src="https://http2.mlstatic.com/D_NQ_NP_961931-MLM51974587322_102022-O.webp" alt="" class="">
                <span class="precio-item">$35.000</span>
               </div>

               <div class="items">
          
                <img src="https://s3.amazonaws.com/images.ecwid.com/images/10635071/1673848920.jpg" alt="" class="">
                <span class="precio-item">$65.000</span>
               </div>
               <div class="items">
                <img src="https://m.media-amazon.com/images/I/71UbXKK9GPL._AC_SL1500_.jpg" alt="" class="">
                <span class="precio-item">$75.000</span>
               </div>
        </div>
      </section>

</body>
</html>